body {
    background: #333333;
}
div {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #32CD32;
    font: 16px "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}
#crt {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 600px;
    background: #000000;
    border: 10px solid #778899;
}
#border-crt {
    overflow: hidden;
    width: 760px;
    height: 560px;
    border: 1px solid #32CD32;
}
#chat {
    font-weight: bold;
    float: left;
    margin-left: 0px;
}
.blinking-cursor {
    margin-top: 0px;
    margin-right: 0px;
    font-weight: bold;
    float: left;
    color: #2E3D48;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@keyframes "blink" {
    from, to {
        color: transparent;
    }
    50% {
    color: #32CD32;
    }
}

@-moz-keyframes blink {
    from, to {
        color: transparent;
    }

    50% {
        color: #32CD32;
    }
}

@-webkit-keyframes

"blink" {
    from, to

{
    color: transparent;
}

50% {
    color: #32CD32;
}

}

@-ms-keyframes

"blink" {
    from, to

{
    color: transparent;
}

50% {
    color: #32CD32;
}

}

@-o-keyframes

"blink" {
    from, to

{
    color: transparent;
}

50% {
    color: #32CD32;
}
}