@using PersonalMirror.Models
@model ChatModel
<div id="Messages">
    @foreach (ChatMessage msg in Model.Messages) {
        <p>
            @msg.Date<br />
            @msg.Text
        </p>
    }
</div>

