<div id="crt">
    <div id="border-crt">
       <!-- <div id="userhistory"></div> -->
        <div id="serveranswer"></div>
        <div id="chat"><div class="blinking-cursor"> ></div></div>
        <div id="usermessage"></div>
    </div>
</div>

    @section Scripts {
        @Scripts.Render("~/Scripts/userkeypress.js")
        @*@Scripts.Render("~/bundles/jquery")*@
        @*@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")*@
    }
