@{int[] array = { 99, -10, 100123, 18, -978, 5623, 463, -9, 287, 49 }; }

@foreach (int i in array) {
    <div class="well"></div>
}


@section Scripts {
    @Scripts.Render("~/scripts/myscript.js")
}

