<div id="Username">

</div>
<div id="LastRefresh">

</div>
<div id="container">

</div>
<div id="Error">

</div>
@Ajax.ActionLink("Login", "Index", new { user = "" },
        new AjaxOptions { UpdateTargetId = "container", OnFailure = "LoginOnFailure", OnSuccess = "LoginOnSuccess" },
        new { @id = "LoginButton", @style = "visibility:hidden;" })


@section Scripts {
    @Scripts.Render("~/Scripts/chat.js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
}
